body{
    margin: 0%;
    background-color: black;
    font-family: 'Ubuntu Mono', monospace;
    color: lime;
}
header{
    height: auto;
}
.barlogmenu{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}
.logo{
    background-color: black;
    height: 10vh;
    width: 10vh;
    margin: 3px;
    padding: 5px;
}
.logoimg{
    align-items: stretch;
    background-size: cover;
    padding: 10px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 80%;
}
.activePage{
    color :green !important;
}
.buton a{
    padding: 25px;
    color: lime;

}
.buton a:hover{
    color :green;
}
.buton:hover{
    background-color: black;
}
.screenpapa{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.screenlogo{
    position: relative;
    width: 100%;
}
.contenu{
    overflow-y: scroll;
    scrollbar-color: black black;
    position: absolute;
    top:20%;
    left: 16%;
    background-color: transparent;
    height: 60%;
    width: 50%;
    color: lime;
    word-break: break-word;

}
.contenu::-webkit-scrollbar {
    display: none; 
}
.contenu h1{
    border : dashed 1px lime;
    text-align: center;
    font-weight: 400;
}
.contenu h2 {
    text-align: center;
    color: red;
    font-weight: 400;
}
.contenu p{
    color: lime;
    
}
h3{
    color: green;
    text-decoration: underline dotted green;
}
table{
    border-collapse: collapse;
    border:1px dashed lime;
    margin-right: 1px;
}
th, td{
    border: dashed 1px lime;
    padding: 10px;
}
input{
    border-color: lime;
    background-color: black;
    color:  lime;
}
.contenu button{
    padding :5px
}
.story{
    background-color: black;
    color: lime;
    border:solid lime 1px;
}
code{
    white-space: pre;
    color: lime;
}
footer{
    text-align: center;
}
footer p{
    margin: 0%;
    color:lime;
}
a{
    text-decoration: none;
    color: green;
}
label{
    color : lime;
    text-align: center;

}

#inputName{
    background-color: black;
    color: green;
    border-color: lime;

}

#inputEmail{
    background-color: black;
    color: green;
    border-color: lime;
}

#inputMsg{
    background-color: black;
    color: green;
    border-color: lime;
    width: 204px;
}
.button{
	border: solid 1px lime;
	padding:7px 5px;
    border-radius:0px;
	background:black;
    color:lime;
    margin-top: 15px;
    cursor: pointer;
    
}
div.contenu span{
    display:block;
    line-height:8px; 
    font-size: 8px; 
    font-weight:bold;
    white-space:pre;
    font-family: monospace;
    color: lime; 
    background: transparent;
}
.bouttonmagique{
    width: 20px;
    height: 20px;
    top: 74%;
    background-color:transparent;
    margin-left: 76%;
    position: absolute;
}
