
 @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

 body{
	margin: 0px;
    font-family: 'Lato', sans-serif;
   
}

div.entete{
	background-image:url(imgtop.jpg);
	width:100%;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover ;
  	background-position: center;

}

.entete h1{
	color: white;

}

.entete div.acc{
	text-align:center;
}

.entete button{

	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: inline-block;
	text-transform: capitalize;
	border-radius: 4px;
	padding: 10px 30px;
	background-color: transparent;
	color: white;
	border:2px solid white;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
  	margin-bottom: 100px;
}
.entete p{
	color: white;
}

.entete button:hover{
	background-color: white;
	color:black;
}

span.embleme{
	color: white;
	font-size: 2em;
	padding-left:15%;
	text-transform: uppercase;
}

span.liens{
	margin-top: 0.2em;
	padding-right:15%;
}

div.top{
	padding-top: 30px;
	padding-bottom: 100px;
	width:100%;
	display: flex;
	justify-content: space-between;
}

.entete a{
	font-size: 1.3em;
	font-weight: bold;
	color:white;
	text-transform: capitalize;
	padding-right: 10px;
}

.entete a:link,.entete a:visited{
	text-decoration: none;
}


.contenu h1{
	font-weight: normal;
	text-transform: capitalize;
}

.contenu{
	display: flex;
	flex-direction: column;
}


.imagetext{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:100%;
}
.webdev{
	width: 60%;
}

.contenu > div{
	padding-top:25px;
	padding-bottom:25px;
}


.contenu > div:nth-child(even){
	background-color: #f7f5f7;
}


.imagetext > *:nth-child(1){
	margin-left: 15%;
	margin-right: 75px;
}

.imagetext > *:nth-child(2) {
	margin-right: 15%;
}


.contenu div{
	text-align:justify;
}


.imagetext img{
	opacity:0.15;
	width:100%;
}

p{
	color: grey;
}

table.grille,.clients table{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.grille img{
	width:100px;
}

.grille p {
	width: auto;
	height:auto;
}

table.grille tr > td:nth-child(4){
	width:30px;
}

table.grille tr > td:nth-child(4n+2){
	width:10px;
}
table.grille tr > td:nth-child(4n+3){
	text-align:justify;
}

.clients > div:nth-child(1), .team > div:nth-child(1){
	text-align:center;
}

.clients > div:nth-child(1) > h1,.team > div:nth-child(1) > h1{
	text-transform: capitalize;
	margin-bottom: 2px;
}

.clients > div:nth-child(1) > p, .team > div:nth-child(1) > p{
	margin-top: 2px;
}



.clients img{
	width:100px;
	height:100px;
	border-radius: 50%;
}

.clients td:nth-child(2){
	width:30px;
}

.clients td.txt{
	background-color: white;
	border:2px solid #f0f0f0 ;
}

.clients td p {
	margin:0px 40px;
}

.clients td.image{
	width:100px;
}

.clients table:nth-child(n+3){
	margin-top:40px;
}

.clients table p:nth-child(2){
	color: #42a6ed;
	font-size: 0.8em;
	margin-top: 10px;
}

.logos > div{
	width:70%;
	margin:0 15%;
	opacity: 0.15;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.logos img{
	width: 25%;
	float: center;
}


div.team{
	background-color: black !important;
	color: white;
}

.photoTeam{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.photoTeam > div{
	display: flex;
	flex-direction: column;
}

.photoTeam > div:nth-child(2){
	margin: 0 20px;
}

.photoTeam > div > img:nth-child(1){
	border-radius: 50%;
	width:200px;
	height:200px;
	border: 7px solid white;
}

.photoTeam > div > div:nth-child(4) > img {
	width:25px;
	height:25px;
	color: white;
}

.photoTeam div{
	text-transform: capitalize;
	text-align: center;
}

.photoTeam > div > div:nth-child(2){
	font-weight: bold;
}

.team > div:nth-child(3){
	margin:0 25%;
	margin-top:40px;
	text-align: center;
}

.team > div:nth-child(3) > p{
	display: inline-block;
}

.formulaire{
	background-color: #4c91c2 !important;
	color: white;
	display: flex;
	flex-direction: column;

}

.formulaire>div:nth-child(1){
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.formulaire>div:nth-child(1)>div:nth-child(1){
	display: flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 50px;
}

.formulaire>div:nth-child(1)>div:nth-child(2){
	margin-left: 50px;
	margin-right: 15%;

}



.formulaire p{
	color:white;
}

.formulaire img{
	width:50px;
}

.formulaire form{
	display: flex;
	flex-direction: column;
}

.formulaire textarea{
	height:10em;
}

.formulaire input, textarea{
	font-family: 'Lato', sans-serif;

	border-radius: 4px;
	padding: 12px 20px;
	margin:8px 0;
	box-sizing: border-box;
}

.formulaire hr{
	width:70%;
	border: 1px solid #0e9fc7;
	border-radius:3px;
}

div.footer{
 	text-align: center;

}


.tableResume{
	padding-right: 50px;
}

