body{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

.corps{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.divtitre{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
}
.titre{
    text-align: center;
    color: white;
    font-size: 10vh;
    margin: auto;
}
.ajouttodo{
    display: flex;
    flex-direction: row;
    margin: 10vh;
    width: auto;
    
}


.bandebuton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background:black;
    height: auto;
    width: 50%;
}
.todos{
    color: white;
    font-size: 2vh;
    display: flex;
    background-color:black;
    border: white;
    border: solid;
    width: auto;
    height: auto;
}
ul{
    color: black;
}
li{
    color: black;
    list-style-type: none;
}
li:not(.fait){
    text-decoration-line: line-through;
    color: grey;

}

li:not(.fait):before{
    content: '✘';
}

li.fait:before{
    content:'✔';
}

.afaire:not(.fait){
    color: white;
    font-size: 2vh;
    display: flex;
    background-color: black;
    border: black;
    border: solid;

    width: auto;
    height: auto;
}
.termine{
    color: white;
    font-size: 2vh;
    display: flex;
    background-color: black;
    border: black;
    border: solid;

    width: auto;
    height: auto;

}
.termine.fait{
    color: black;
    font-size: 2vh;
    display: flex;
    background-color: white;
    border: black;
    border: solid;

    width: auto;
    height: auto;

}

section{
    display: flex;
    background-color:white;
    width: 50%;
    
}
#mestodos{
    color:black;
    text-decoration: none;
    justify-content: center;
}
.fonction{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    width: auto;
    justify-content: center;
}
.by{

    color: grey;
}